{% extends "base.html"  %}

{% comment %}

"The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the "License"); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}{% if is_editing %}Edit{% else %}Add{% endif %} project{% endblock %}
{% block titleInPage %}{% if is_editing %}Edit{% else %}Add{% endif %} project{% endblock %}

{% block content %}
<form action="." method="POST">

{% for hidden in form.hidden_fields %}
{{ field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="error">
<ul>
	{{ form.non_field_errors.as_ul }}
</ul></div>
{% endif %}

<div class="content_subtitle">Basic project information</div>

<table cellpadding="5" cellspacing="0" class="form_subtable">
	<tr class=" form_color_1">
		<td class="form_field_cell" width="50%">Title
			<div class="form_help_text">Max 200 characters.</div>
			{% if form.title.errors %}
			<div class="error">{{ form.title.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.title }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell">Estimated duration
			<div class="form_help_text">Integer, in hours for a team of 2-3 persons</div>
			{% if form.time_estimate.errors %}
			<div class="error">{{ form.time_estimate.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.time_estimate }}</td>
	</tr>
	<tr class="form_color_1">
		<td class="form_field_cell">Event name
			<div class="form_help_text">If this project is part of an event, otherwise leave blank.</div>
			{% if form.event.errors %}
			<div class="error">{{ form.event.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.event }}</td>
	</tr>

	<tr class="form_color_2">
		<td class="form_field_cell">Tags
			<div class="form_help_text">Alphanumeric, word junction by dash, separation by space</div>
			{% if form.tags.errors %}
			<div class="error">{{ form.tags.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.tags }}</td>
	</tr>
	{% if not project.p_completed %}
		<tr class="form_color_1">
			<td class="form_field_cell">I'm not participating: I'm just proposing the idea
				<div class="form_help_text">Check this if you're just proposing the idea and want someone else to administer the project (edit, accept members, etc.). You'll be admin temporarily, until someone else asks for it.</div>
				{% if form.not_involved.errors %}
				<div class="error">{{ form.not_involved.errors }}</div>
				{% endif %}
			</td>
			<td class="form_field_cell" align="right">I'm not participating {{ form.not_involved }}</td>
		</tr>
	{% endif %}
</table>

<script><!--
$(function(){
	$('#id_tags').autocomplete(
		{list: site_tags, 
		match: customTextMatch, 
		insertText: customTextInsertBinder($("#id_tags")),
		template: customTemplate});
});
//--></script>

<div class="content_subtitle">Project description</div>
<div class="content_subsubtitle">Max 5k characters. Use the Markdown syntax. Good summary <a href="http://crunchbang.org/wiki/formattingrules/">here</a>.

<p>Here are the basics of a good description:

<ul>
	<li>Idea refinement, details: make it clear</li>

	<li><strong>Task breakdown</strong>: what are the subtasks? How can the project be divided?</li>
	<li>The <strong>tools</strong> and <strong>technologies</strong> you're going to use. The description is a good place to <strong>give links to wikis, code repositories, etc. you setup for the project</strong> (see <a href="/collaboration/">Collaboration</a>).</li>
	<li>When you settle on it: the <strong>date/time</strong> to work on the project</li>
	<li>Don't hesitate to <strong>update the description</strong> as new information emerges.</li>

</ul></p>
	{% if form.description.errors %}
	<div class="error">{{ form.description.errors }}</div>
	{% endif %}
</div>
{{ form.description }}

{% if project.p_completed %}
<div class="content_subtitle">Project showcase</div>
<div class="content_subsubtitle">Max 5k characters. Use the Markdown syntax. Good summary <a href="http://crunchbang.org/wiki/formattingrules/">here</a>.

<p>We know a lot of you have blogs, or know how to set one up in a matter of seconds. You can <strong>document the project on your own site</strong>, and provide <strong>links to these in the Project Showcase section</strong> to show off your work.</p>
	{% if form.showcase.errors %}
	<div class="error">{{ form.showcase.errors }}</div>
	{% endif %}
</div>
{{ form.showcase }}
{% endif %}

<div class="form_field_div form_color_1"><input type="submit" value="Submit" class="button_link" /></div>

</form>

{% endblock %}
