	<div class="project_comment">
		<div class="project_comment_text">{{ comment.text }}</div>

		<div class="user_icon_div" style="float: right;">
			<img src="{{ comment.author.get_profile.get_gravatar_url }}" width="50" height="50"/>
		</div>

		<div class="user_info_div" style="float: right;">
				by <a href="/accounts/profile/view/{{ comment.author }}">{{ comment.author }}</a><br/>
				on {{ comment.pub_date|date:"M d, Y" }} at {{ comment.pub_date|date:"G:i" }}
		</div>
	</div>
	<br style="clear: both;"/>