{% extends "base.html"  %}

{% block title %}Project details - {{ project.title }}{% endblock %}
{% block titleInPage %}Project details{% endblock %}

{% block moreStyle %}

.invisible_vote_widget_button {
	width: 40px;
	padding: 5px;
	display: block;
	color: #fff;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-bottom: 3px;
	float: left;
	overflow: hidden;
}

.idea_vote_widget_button {
	width: 40px;
	padding: 5px;
	display: block;
	background-color: #449944;
	color: #fff;
	border-top: 1px solid #88dd88;
	border-left: 1px solid #88dd88;
	margin-bottom: 3px;
	float: left;
	overflow: hidden;
}

.idea_vote_widget_button:hover {
	color: #ddd;
	background-color: #66bb66;
}

.job_vote_widget_button {
	width: 40px;
	padding: 5px;
	display: block;
	background-color: #a7b100;
	color: #fff;
	border-top: 1px solid #ddee33;
	border-left: 1px solid #ddee33;
	margin-bottom: 3px;
	font-weight: bold;
	float: left;
	overflow: hidden;
}

.job_vote_widget_button:hover {
	color: #ddd;
	background-color: #c7d122;
}

.join_button {
	display:block;
	color: white;
	font-weight: bold;
	padding: 8px 10px;
	text-decoration: none;
	margin: 10px;

	background-color: #994444;
	color: #fff;
	border-top: 1px solid #dd8888;
	border-left: 1px solid #dd8888;
}

.join_button:hover {
	color: #ddd;
	background-color: #cc8888;
}

{% endblock %}

{% block content %}

<div class="content_subtitle">{{ project.title }} (est. {{ project.hour_estimate }} hr)</div>
<div class="content_subsubtitle">Suggested by <a href="/accounts/profile/view/{{ project.author.username }}">{{ project.author.username }}</a> on {{ project.pub_date|date:"M d, Y" }} at {{ project.pub_date|date:"G:i" }}</div>

{% if project.p_completed %}
<div class="content_subtitle">Project showcase</div>
	{% if not project.showcase_html %}
		(No showcase created yet. The author can create one by editing the project.)
	{% else %}
		{% autoescape off %}{{ project.showcase_html }}{% endautoescape %}
	{% endif %}
<div class="content_subtitle">Project description</div>
{% endif %}

<div class="project_description">
{% if not project.description_html %}(No description yet){% endif %}
{% autoescape off %}{{ project.description_html }}{% endautoescape %}
</div>

<div class="content_subtitle">Comments and coordination</div>
<div class="content_subsubtitle">Project author and members receive automatic email notifications when comments are posted.</div>

<div>
	
	{% with project.get_comments as project_comments %}
		{% if not project_comments.count %}
		No comments for the moment.
		{% endif %}
	
		{% for comment in project_comments %}
			{% include "projects/comment_snippet.html" %}
		{% endfor %}
	{% endwith %}
	
	{% if user.is_authenticated %}
	<div class="form_div">
		New comment
		<form action="{{ project.get_postcomment_url }}" method="POST">
				{{ form.text }}
			<br/>
			<input type="submit" value="Submit" />
		</form>
	</div>
	{% else %}
		{% if not project_comments %}You could add a comment if you were <a href="/accounts/login/">logged in</a>.{% endif %}
	{% endif %}
</div>


{% endblock %}




{% block sidebar %}

<div class="sidebar_title">Project controls</div>

<div class="badge_group_container">
	<div class="count_widget_container">
		{% if voted_for_proposed %}
			<div class="idea_vote_widget_button" title="You already voted for this idea">
				<img src="/files/images/dash.gif">
			</div>
		{% else %}
			<a href="vote/proposed/" class="idea_vote_widget_button" title="Vote for this idea">
				<img src="/files/images/up.gif">
			</a>
		{% endif %}
		<div class="idea_votes_container">
			great
			<div class="votes_count">
			{{ project.proposed_votes.count }}
			</div>
			idea
		</div>
	</div>
	
	<div class="count_widget_container">
		<div class="invisible_vote_widget_button">
			<img src="/files/images/empty_vote_button.gif">
		</div>
		<div class="joins_count_container">
			&nbsp;
			<div class="joins_count">
			{{ project.get_joined_users_count }}
			</div>
			joined
		</div>
	</div>
	{% if project.p_completed %}
		<div class="count_widget_container" style="margin-right: 0;">
			{% if voted_for_completed %}
				<div class="job_vote_widget_button" title="You already voted for this implementation">
					<img src="/files/images/dash.gif">
				</div>
			{% else %}
				<a href="vote/completed/" class="job_vote_widget_button" title="Vote for this implementation">
					<img src="/files/images/up.gif">
				</a>
			{% endif %}
			<div class="job_votes_container">
				great
				<div class="votes_count">{{ project.completed_votes.count }}</div>
				job
			</div>
		</div>
	{% else %}
		<div class="count_widget_container" style="margin-right: 0;">
			<div class="invisible_vote_widget_button">
				<img src="/files/images/empty_vote_button.gif">
			</div>
			<div class="disabled_badge_container" style="margin: 0;">
				great<div class="votes_count">N/A</div>job
			</div>
		</div>
	{% endif %}
</div>
<br style="clear: both;">


{% ifequal user project.author %}
	<a href="{{ project.get_editing_url }}" class="sidebar_button_a">Edit this project</a>
	{% if project.p_completed %}
		<div class="sidebar_info">This project is completed.</div>
	{% else %}
		<a href="{{ project.get_absolute_url }}complete/" class="sidebar_button_a">Set as completed</a>
	{% endif %}
{% else %}
	{% if project.p_completed %}
		<div class="sidebar_info">This project is completed.</div>
	{% else %}
		{% ifequal user_project_status "None" %}
			<a href="join/" class="join_button">Join this project</a>
			{% else %}
			{% ifequal user_project_status "Interested" %}
				<div class="sidebar_info">Awaiting author's approval to join</div>		
			{% else %}
				<div class="sidebar_info">You are part of this project</div>
			{% endifequal %}
		{% endifequal %}
	{% endif %}
{% endifequal %}


<div class="sidebar_title">Users joined</div>
<div class="sidebar_block">
	<ul class="sidebar_ul">
		<li><a href="/accounts/profile/view/{{ project.author.username }}">{{ project.author.username }} (author)</a></li>
		{% for user in project.joined_users.all %}
			<li><a href="/accounts/profile/view/{{ user }}">{{ user }}</a></li>
		{% endfor %}
	</ul>
</div>

{% ifequal user project.author %}
{% if project.interested_users.all %}
<div class="sidebar_title">Users interested</div>
<div class="sidebar_block">
	<ul class="sidebar_ul">
		{% for user in project.interested_users.all %}
			<li><a href="/accounts/profile/view/{{ user }}">{{ user }}</a>
			  <a href="{{user}}/approve/"> (Approve)</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endifequal %}

<div class="sidebar_title">Project tags</div>
<div class="sidebar_block">
{% for t in project.get_tags %}
	<a class="tag_link" href="/projects/?tags={{ t }}">{{ t }}</a>
{% endfor %}
</div>

<div class="sidebar_title">Similar Projects</div>

<div class="sidebar_block">

{% for project in similar_projects %}
<a href="{{ project.get_absolute_url }}">{{ project.title|truncatewords:4 }}</a><br/>
{% endfor %}

</div>

{% endblock %}
