{% load util_filters %}
{% load projects_filters %}
{% comment %}

"The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the "License"); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

<div class="project_row">
	<div class="project_row_badges">
		{% if not project.p_completed %}
		<div class="count_widget_container">
			<div class="idea_votes_container {% voted_on_project request project user %}" id="project{{ project.id }}">
				great
				<div class="votes_count">
				{{ project.proposed_votes.count }}
				</div>
				idea
			</div>
		</div>
		{% endif %}
		{% if project.p_completed %}
		<div class="count_widget_container">
			<div class="job_votes_container">
				great
				<div class="votes_count">
				{{ project.completed_votes.count }}
				</div>
				job
			</div>
		</div>
		{% endif %}
		<div class="count_widget_container">
			<div class="joins_count_container">
				&nbsp;
				<div class="joins_count">
				{{ project.get_joined_users_count }}
				</div>
				joined
			</div>
		</div>

		<div class="comment_count">
			<a href="{{ project.get_absolute_url }}#comments">{{ project.get_comments.count }} <span class="comment_count_text">comment{{ project.get_comments.count|pluralize }}</span></a>
		</div>
	</div>
	<div class="project_row_text">
		<div class="project_row_title">
			<a href="{{ project.get_absolute_url }}">{{ project.title }}</a> <span class="estimate">{% if not project.p_completed %} 
			<br/>Estimated time: {{ project.hour_estimate }} hour{{ project.hour_estimate|pluralize }}{% endif %}</span>
			{% if project.looking_for_admin %}<br/><span class="green_text">Just an idea (project needs admin)</span>{% endif %}
			{% if project.wont_be_completed %}<br/><span class="red_text">This project is closed: it is set as "won't be completed"</span>{% endif %}
		</div>
		<div class="project_row_desc">
			{% autoescape off %}{{ project.description_html|striptags|truncatewords:40 }}{% endautoescape %}
		</div>
		<div class="project_row_tags">
			{% for t in project.get_tags %}<a class="tag_link" href="/projects/?tags={{ t }}">{{ t }}</a>{% endfor %}
		</div>

		<div class="user_icon_div">
			{% if project.looking_for_admin %}
				<img src="/files/images/unknown_user.gif" width="50" height="50"/>
			{% else %}
				<a href="/accounts/profile/view/{{ project.author.username }}"><img src="{{ project.author.get_profile.get_gravatar_url }}" width="50" height="50"/></a>
			{% endif %}
		</div>
		<div class="user_info_div">
			{% if project.looking_for_admin %}
				<strong>Needs admin</strong>
			{% else %}
				{% ifnotequal project.author project.proposed_by %}Admin: {% endifnotequal %}<a href="/accounts/profile/view/{{ project.author.username }}">{{ project.author.username }}</a> ({{ project.author.get_profile.completed_projects_karma }})
			{% endif %}<br/>
			Proposed {{ project.pub_date|ago }}<br/>
			{% ifequal project.proposed_by "None" %}
				(anonymously)
			{% else %}
				{% if project.looking_for_admin %}
					(by <a href="/accounts/profile/view/{{ project.proposed_by.username }}">{{ project.proposed_by.username }}</a>)
				{% endif %}
			{% endifequal %}
		</div>


	</div>
</div>
