{% extends "base.html"  %}

{% comment %}

"The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the "License"); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}
{% load projects_filters %}
{% block title %}{{page_title }}{% endblock %}
{% block titleInPage %}
    <a class="highlight{% ifequal page_title "Completed projects" %}green{% endifequal %}" href="/projects/add/">Add a Project</a>
{% endblock %}

{% block moreHead %}
	{% if rss_url %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_url }}"/>
	{% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.votable').click(function(){
                var elem = $(this);
                var vote_count_box = $('#' + elem.attr("id") + ' .votes_count')
                if (!vote_count_box.parent().filter(".voted").length){
                    vote_count_box.fadeTo(300, 0, function(){
                        $.ajax({
                            type: "POST",
                            url: "/projects/ajax/vote/",
                            data: ({project : elem.attr("id")}),
                            success: function(data, textStatus) {
                                vote_count_box.html(data).fadeTo(300, 1).parent().addClass("voted").removeClass("votable");
                            }
                        });
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block content_style %}tabbed{% endblock %}
{% block tabs %}
<div id="tabcontainer">
    <ul id="navigation">
        <li>
            <a href="/projects/proposed/"
               class='{% ifequal page_title "Proposed projects" %}active{% endifequal %}'>
                <span>Proposed projects ({% proposed_project_count %})</span>
            </a>
        </li>
        <li>
            <a href="/projects/completed/"
               class='{% ifequal page_title "Completed projects" %}active{% endifequal %}'>
                <span>Completed projects ({% completed_project_count %})</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block subtabs %}
{% if rss_url %}
<a class="rssicon" href="{{ rss_url }}"><img src="/files/images/rss28.png" width="28" height="28"/></a>
{% endif %}
<a class="subtab {% ifequal list_type 'recommend' %}active{% endifequal %}" href="{{ list_mytags_url }}">My tags</a>
<a class="subtab {% ifequal list_type 'new' %}active{% endifequal %}" href="{{ list_new_url }}">New</a>
<a class="subtab {% ifequal list_type 'top' %}active{% endifequal %}" href="{{ list_top_url }}">Top</a>
{% endblock %}

{% block content %}
	{% if filter_description %}
	<div class="content_subsubtitle">
		Also filtering for:
		<ul>
			{% autoescape off %}{{ filter_description }}{% endautoescape %}
		</ul>
	</div>
	{% endif %}
<hr style="border-style: none none dotted; margin-bottom:0px;">

	{% for project in project_list_page.object_list %}
	
		{% include "projects/project_snippet.html" %}
	
	{% endfor %}
	
	{% with project_list_page as paginator_page %}{% include "projects/pagination_snippet.html" %}{% endwith %}

{% endblock %}
