{% load util_filters %}

<div class="project_row">
	<div class="project_row_badges">
		{% if not project.p_completed %}
		<div class="count_widget_container">
			<div class="idea_votes_container">
				great
				<div class="votes_count">
				{{ project.proposed_votes.count }}
				</div>
				idea
			</div>
		</div>
		{% endif %}
		<div class="count_widget_container">
			<div class="joins_count_container">
				&nbsp;
				<div class="joins_count">
				{{ project.get_joined_users_count }}
				</div>
				joined
			</div>
		</div>
		{% if project.p_completed %}
		<div class="count_widget_container">
			<div class="job_votes_container">
				great
				<div class="votes_count">
				{{ project.completed_votes.count }}
				</div>
				job
			</div>
		</div>
		{% endif %}
		<div class="comment_count">
			{{ project.get_comments.count }} <span class="comment_count_text">comment{{ project.get_comments.count|pluralize }}</span>
		</div>
	</div>
	<div class="project_row_text">
		<div class="project_row_title">
			
			<a href="{{ project.get_absolute_url }}">{{ project.title }}</a> {% if not project.p_completed %} (est. {{ project.hour_estimate }} hr){% endif %}
			{% if project.looking_for_admin %}<br/><span style="color: #449944;">Just an idea (project needs admin)</span>{% endif %}
		</div>
		<div class="project_row_desc">
			{% autoescape off %}{{ project.description_html|striptags|truncatewords:30 }}{% endautoescape %}
		</div>
		<div class="project_row_tags">
			{% for t in project.get_tags %}<a class="tag_link" href="/projects/?tags={{ t }}">{{ t }}</a>{% endfor %}
		</div>

		<div class="user_icon_div">
			{% if project.looking_for_admin %}
				<img src="/files/images/unknown_user.gif" width="50" height="50"/>
			{% else %}
				<img src="{{ project.author.get_profile.get_gravatar_url }}" width="50" height="50"/>
			{% endif %}
		</div>
		<div class="user_info_div">
			{% if project.looking_for_admin %}
				<strong>Needs admin</strong>
			{% else %}
				{% ifnotequal project.author project.proposed_by %}Admin: {% endifnotequal %}<a href="/accounts/profile/view/{{ project.author.username }}">{{ project.author.username }}</a> ({{ project.author.get_profile.completed_projects_karma }})
			{% endif %}<br/>
			Proposed {{ project.pub_date|ago }}<br/>
			{% ifequal project.proposed_by "None" %}
				(anonymously)
			{% else %}
				{% if project.looking_for_admin %}
					(by <a href="/accounts/profile/view/{{ project.proposed_by.username }}">{{ project.proposed_by.username }}</a>)
				{% endif %}
			{% endifequal %}
		</div>


	</div>
</div>
