{% extends "base.html"  %}

{% block title %}Propose project seed{% endblock %}
{% block titleInPage %}Propose project seed{% endblock %}

{% block content %}

<form action="/projects/seeds/postnew/" method="POST">

{% for hidden in form.hidden_fields %}
{{ field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="error">
<ul>
	{{ form.non_field_errors.as_ul }}
</ul></div>
{% endif %}

<table cellpadding="5" cellspacing="0" class="form_subtable">
	<tr class="form_color_1">
		<td class="form_field_cell" valign="top" width="50%">
			Seed title/description
			<div class="form_help_text">Max 200 characters.</div>
			{% if form.title.errors %}
			<div class="error">{{ form.title.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right" valign="top">{{ form.title }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell" valign="top">
			{% if user.is_authenticated %}
				Authorship
				<div class="form_help_text">Seeds can be posted anonymously, even if you're logged in. Note that, in that case, the author is retained in the DB so seeds can be edited afterwards.</div>

			{% else %}
				Author (optional: you can post anonymously)
				<div class="form_help_text">Name and/or some contact info. Max 120 characters.</div>

				{% if form.author_string.errors %}
					<div class="error">{{ form.author_string.errors }}</div>
				{% endif %}
			{% endif %}
		</td>
		<td class="form_field_cell" align="right" valign="top">
			{% if user.is_authenticated %}
				post anonymously {{ form.anonymous }}
			{% else %}
				{{ form.author_string }}
			{% endif %}
		</td>
	</tr>
</table>

<div class="form_field_div form_color_2"><input type="submit" value="Submit" class="button_link" /></div>

</form>


{% endblock %}
