{% load util_filters %}
{% load projects_tags %}

<div class="project_row">
	<div class="seed_row_badges">
		<div class="count_widget_container">
			{% user_voted_on_seed user on seed as voted_for_it %}
			{% if voted_for_it %}
				<div class="idea_vote_widget_button" title="You already voted for this idea"><img src="/files/images/dash.gif"></div>
			{% else %}
				<a href="/projects/seeds/vote/{{ seed.pk }}/?page={{ paginated_seeds.number }}" class="idea_vote_widget_button" title="Vote for this idea"><img src="/files/images/up.gif"></a>
			{% endif %}
			<div class="idea_votes_container">
				great
				<div class="votes_count">
				{{ seed.votes.count }}
				</div>
				idea
			</div>
		</div>
	</div>
	<div class="seed_row_text">
		<div class="seed_row_title">
			{{ seed.title }}
		</div>
		<div class="seed_row_menu">
			<a href="/projects/seeds/toproject/{{ seed.pk }}/">Start project based on this</a>
		</div>
		{% if seed.anonymous %}
			<div class="seed_row_poster">Posted anonymously {{ seed.pub_date|ago }}</a></div>
		{% else %}
			{% if seed.author_user %}
				<div class="user_icon_div">
					<img src="{{ seed.author_user.get_profile.get_gravatar_url }}" width="50" height="50"/>
				</div>
				<div class="user_info_div">
					Posted by <a href="/accounts/profile/view/{{ seed.author_user.username }}">{{ seed.author_user.username }}</a> ({{ seed.author_user.get_profile.completed_projects_karma }})<br/>
					{{ seed.pub_date|ago }}
				</div>
			{% else %}
				<div class="seed_row_poster">Posted by <strong>{{ seed.author_string }}</strong> {{ seed.pub_date|ago }}</div>
			{% endif %}
		{% endif %}
	</div>
</div>
