*.pyc
settings.py

*.3db
*.3dt
*.4db
*.4dc
*.4dd
*.4dl
*.4lk
*.4ug
*.4vr
*.abcddb
*.abcdmr
*.abi
*.abs
*.acad
*.accdb
*.accdc
*.accde
*.accdr
*.accdt
*.accdu
*.accdw
*.accft
*.adb
*.adb
*.adb
*.add
*.adi
*.adr
*.adt
*.adt
*.adt
*.adx
*.ae1
*.aet
*.afo
*.ahb
*.ai
*.ai
*.ain
*.al
*.aln
*.amb
*.amm
*.anki
*.aplibrary
*.apv
*.apx
*.aq
*.ato
*.auc
*.auf
*.avc
*.avg
*.awbs
*.awdb
*.axp
*.axp
*.azz
*.b1
*.b2
*.backup
*.bad
*.bag
*.bak
*.bbt
*.bdb
*.bde
*.bes
*.bf2
*.bfi
*.bi
*.bib
*.bib
*.blb
*.bpd
*.bpd
*.bpm
*.bqy
*.bsq
*.bswx
*.btf
*.btk
*.btr
*.btr
*.btree
*.btv
*.bw1
*.caj
*.cat
*.cat
*.cbh
*.cc3
*.ccf
*.cdb
*.cdb
*.cdb
*.cdb
*.cdx
*.cdx
*.cdx
*.cdx
*.cdx
*.cdx
*.ced
*.celtx
*.cidb
*.cka
*.ckz
*.cld
*.cld
*.cls
*.cma
*.cmd
*.cpf
*.crb
*.crd
*.crf
*.crp
*.csd
*.csq
*.ctv
*.cvd
*.cwdb
*.cyi
*.cys
*.d01
*.d1
*.d2
*.dab
*.daf
*.dat
*.dat
*.dat
*.dat
*.data
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db
*.db-journal
*.db1
*.db2
*.db2
*.db2
*.db2p
*.db3
*.db4
*.dba
*.dbb
*.dbc
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dbf
*.dblib
*.dbo
*.dbq
*.dbr
*.dbr
*.dbs
*.dbs
*.dbs
*.dbs
*.dbs
*.dbt
*.dbv
*.dbw
*.dbx
*.dcb
*.dcb
*.dcd
*.dcm
*.dcmd
*.dct
*.dcx
*.ddb
*.ddb
*.ddb
*.ddf
*.ddf
*.ddr
*.dex
*.dez
*.df1
*.df2
*.df3
*.df4
*.df6
*.dff
*.dhcd
*.dis
*.dlc
*.dlk
*.dls
*.dmo
*.dms
*.dnc
*.dnl
*.dô4b
*.dp1
*.dpb
*.dpl
*.dql
*.drag
*.drg
*.dsd
*.dsk
*.dsn
*.dss
*.dstf
*.dta
*.dtf
*.dtf
*.dxb
*.dxi
*.eas
*.ebx
*.ecfg
*.edb
*.edb
*.edb
*.eit
*.emd
*.enb
*.enl
*.epd
*.erd
*.esb
*.exb
*.f+db
*.fbd
*.fbm
*.fdb
*.fdb
*.fdb
*.fdb
*.fdb
*.fdb
*.fdb
*.fdd
*.fic
*.fid
*.fil
*.fil
*.flx
*.fm
*.fm3
*.fm5
*.fma
*.fmk4
*.fmp
*.fnd
*.foc
*.fog
*.fol
*.fp
*.fp3
*.fp4
*.fp5
*.fpk
*.fpt
*.fpt
*.fpt
*.fr3
*.frm
*.frm
*.ftch
*.fts
*.ftw
*.fw
*.fw2
*.fw3
*.g
*.g3d
*.gb
*.gdb
*.gdb
*.gdb
*.gdb
*.gdb
*.gjd
*.gpi
*.gpk
*.hbk
*.hdb
*.hdf
*.hdr
*.hdx
*.hia
*.hin
*.hip
*.his
*.hkdb
*.hnd
*.hp
*.hxk
*.i
*.i
*.ib
*.ibd
*.ibd
*.ibz
*.icp
*.idb
*.idb
*.idd
*.idt
*.idx
*.idx
*.idx
*.idx
*.idx
*.idx
*.idx
*.idx
*.idx
*.idx
*.iflv
*.ihx
*.imgcache
*.ind
*.ind
*.iob
*.iob
*.iob
*.iob
*.ipd
*.ipdb
*.iphoto
*.isi
*.itdb
*.itld
*.itw
*.ivc
*.ivt
*.iw
*.iwc
*.ix
*.ix
*.ix2
*.ixl
*.joml
*.jst
*.k01
*.k02
*.k03
*.k10
*.k11
*.k13
*.k14
*.k15
*.k6
*.k8
*.k9
*.kdb
*.kdb
*.kdb
*.kdb
*.kdbx
*.kdc
*.kdh
*.keystore
*.knn
*.kpdx
*.kseqs
*.ldb
*.ldb
*.ldb
*.ldb
*.lfp
*.lgc
*.lnk
*.lock
*.lock
*.log
*.lpd
*.lrcat
*.lrdb
*.ltm
*.lwx
*.lzk
*.m4t
*.marshal
*.mav
*.mbdb
*.mbdx
*.mbp
*.mbx
*.mdb
*.mdb
*.mdbx
*.mdc
*.mdc
*.mdd
*.mde
*.mdf
*.mdn
*.mdt
*.mdx
*.mdx
*.mdx
*.mdx
*.mem
*.mer
*.mfk
*.mgdatabase
*.mgn
*.mif
*.mif
*.mjs
*.mlb
*.mm
*.mmc
*.mmd
*.mmd
*.mmo
*.mng
*.mod
*.modb
*.mom
*.mom
*.mpb
*.mpd
*.mrd
*.mrg
*.msmessagestore
*.mst
*.mvd
*.mwb
*.mwf
*.mxf
*.mxm
*.myd
*.ndb
*.ndk
*.nfo
*.nlpe
*.nope
*.nppe
*.ns2
*.ns3
*.ns4
*.nsd
*.nsf
*.nsg
*.nsh
*.nspe
*.ntf
*.ntx
*.nyf
*.occ
*.od1
*.od3
*.od4-9
*.od5
*.odb
*.odb
*.odb
*.oedb
*.olk14dbheader
*.opt
*.ord
*.orx
*.osi
*.otlb
*.ov
*.owc
*.owg
*.ozp
*.p
*.p96
*.p97
