{% extends "base.html"  %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}Edit your profile{% endblock %}
{% block titleInPage %}Edit your profile{% endblock %}

{% block content %}

<form action="/accounts/profile/edit/" method="POST">

{% for hidden in form.hidden_fields %}
{{ field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="error"><ul>
	{{ form.non_field_errors.as_ul }}
</ul></div>
{% endif %}

Note that for the <strong>profile picture (icon)</strong>, we use <a href="http://www.gravatar.com">Gravatar</a>. It ties your avatar to your email address (in a spam-safe way).

<div class="content_subtitle">Basic profile information</div>

<table cellpadding="5" cellspacing="0" class="form_subtable">
	<tr class=" form_color_1">
		<td class="form_field_cell">username
		</td>
		<td class="form_field_cell" align="right">{{ user.username }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell">Email address
			<div class="form_help_text">Not shown publicly. Used for notifications of project updates.</div>
			{% if form.email.errors %}
			<div class="error">{{ form.email.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.email }}</td></td>
	</tr>
	<tr class="form_color_1">
		<td class="form_field_cell">Tags
			<div class="form_help_text">Alphanumeric, word junction by dash, separation by space</div>
			{% if form.tags.errors %}
			<div class="error">{{ form.tags.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.tags }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell">Location
			<div class="form_help_text">Your location, as you would enter it in google maps format.</div>
			{% if form.location.errors %}
			<div class="error">{{ form.location.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.location }}</td>
	</tr>
</table>

<div class="content_subtitle">Extended description</div>
<div class="content_subsubtitle">Max 5k characters. Use the Markdown syntax. Good summary <a href="http://crunchbang.org/wiki/formattingrules/">here</a>.

<p>We suggest your provide an <strong>email address</strong>, but also <strong>IM numbers</strong>, your <strong>blog's URL</strong>, your Twitter account etc., so people know how to contact you and keep in touch with you for/after projects.</p>

<p>Remember to <strong>alter email addresses</strong> a bit to avoid spam bots (e.g.: "webmaster . at . clusterify .com"), as profiles are public.</p>
	{% if form.description.errors %}
	<div class="error">{{ form.description.errors }}</div>
	{% endif %}
</div>
{{ form.description }}

<div class="form_field_div form_color_1"><input type="submit" value="Submit" class="button_link" /></div>

</form>

<script><!--
	$('#id_tags').autocomplete(
		{list: site_tags, 
		match: customTextMatch, 
		insertText: customTextInsertBinder($("#id_tags")),
		template: customTemplate});
//--></script>


{% endblock %}
