
{% extends "base.html"  %}

{% block titleInPage %}Edit your profile{% endblock %}

{% block content %}

<form action="/accounts/profile/edit/" method="POST">

{% for hidden in form.hidden_fields %}
{{ field }}
{% endfor %}

<div class="content_subtitle">Basic profile information</div>

<table cellpadding="5" cellspacing="0" class="form_subtable">
	<tr class=" form_color_1">
		<td class="form_field_cell">username</td>
		<td class="form_field_cell" align="right">{{ user.username }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell">Email address</td>
		<td class="form_field_cell" align="right">{{ form.email }}</td></td>
	</tr>
	<tr class="form_color_1">
		<td class="form_field_cell">Tags</td>
		<td class="form_field_cell" align="right">{{ form.tags }}</td>
	</tr>
</table>

<div class="content_subtitle">Extended description</div>

{{ form.description }}

<div class="form_field_div form_color_1"><input type="submit" value="Submit" class="button_link" /></div>

</form>

<script><!--
$('#id_tags').autocomplete({list: site_tags});
//--></script>


{% endblock %}
