{% extends "base.html" %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% load util_filters %}

{% block title %}Profile for {{ profile.user.username }}{% endblock %}
{% block titleInPage %}
	Profile for {{ profile.user.username }} 
	{% ifequal profile.user request.user %} 
		<a style="font-size:19px; padding: 5px;" href="/accounts/profile/edit/">(edit)</a>
	{% else %}
		<a style="font-size:19px; padding: 5px;" href="/messages/compose/{{profile.user}}/">(send {{profile.user}} a message)</a>
	{% endifequal %}
{% endblock %}

{% block content %}

<div class="content_subsubtitle" style="height: 53px;">
	<div style="float: left; width: 50px; margin-right: 10px;">
		<img src="{{ profile.get_gravatar_url }}" width="50" height="50"/>
	</div>
	<div style="float: left; width: 500px;">
		Joined {{ profile.user.date_joined|ago}} on {{ profile.user.date_joined|date:"M d, Y" }}<br/>
		Started {{ projects_count }} project{{ projects_count|pluralize }}, {{ projects_completed }} are complete.<br/>
		Commented {{ comments_count }} time{{ comments_count|pluralize }}<br/>
	</div>
	<div style="float: right; width: 140px; text-align:center;">
    <div style="font-size:40px; margin-top:-10px;">{{ profile.completed_projects_karma }}</div>
		Karma point{{ profile.completed_projects_karma|pluralize }} <small><a href="/concepts/#karma">?</a></small><br/>
    </div>
		
</div>

{% if profile.location %}
	<div>
		<b>Location:</b> {{ profile.location }}<br>
		<iframe width="720" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
		src="http://maps.google.com/maps?q={{ profile.location }}&output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=new+york,+ny&amp;ie=UTF8&amp;z=10&amp;iwloc=addr&amp;ll=40.873026,-73.920135" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
{% endif %}

<div class="content_subtitle">{{ profile.user.username }}'s tags</div>

{% if user_tags %}
	{% for t in user_tags %}
		<a class="tag_link" href="/projects/proposed/?tags={{ t }}">{{ t }}</a>
	{% endfor %}
{% else %}
	({{ profile.user.username }} has not entered tags yet)
{% endif %}
<br style="clear: both;"/>

<div class="content_subtitle">{{profile.user.username}}'s extended information</div>

{% if profile.description_html %}
	{% autoescape off %}{{ profile.description_html }}{% endautoescape %}
{% else %}
	({{ profile.user.username }} has not entered a description yet)
{% endif %}

<div class="content_subtitle">{{profile.user.username}}'s comment{{comments|pluralize}} 
 {% if comments_count %}({{comments|length}} of {{comments_count}}) {% endif %}
  {% if more_than_five_comments %}<a href="/projects/comments/?foruser={{ profile.user.username }}"> (view all)</a>{% endif %}
</div>
{% if not comments_count %} ({{ profile.user.username }} has not entered any comments yet) {% endif %}

{% for comment in comments %}
	{% include "projects/comment_snippet.html" %}
{% endfor %}

<div class="content_subtitle">{{profile.user.username}}'s project{{projects|pluralize}} 
{% if projects_count %}({{projects|length}} of {{projects_count}}) {% endif %}
  {% if more_than_five_projects %}<a href="/projects/?foruser={{ profile.user.username }}"> (view all)</a>{% endif %}
</div>
{% if not projects_count %} ({{ profile.user.username }} has not entered any projects yet) {% endif %}

{% for project in projects %}
	{% include "projects/project_snippet.html" %}
{% endfor %}


{% endblock %}
