{% extends "base.html" %}

{% block title %}Progjects - {{ username }}'s projects {% endblock %}
{% block titleInPage %} {{ username }}'s projects {% endblock %}

{% block content %}

<div class="content_subtitle">Projects {{ username }} created</div>
<ul>
  {% for project in projects_authored %}
  <li> <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
    <br /> {{ project.description_markdown }}
    {% endfor %}
</ul>

<div class="content_subtitle">Projects {{ username }} joined</div>

<ul>
  {% for project in projects_joined %}
  <li> <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
    <br /> {{ project.description_markdown }}
    {% endfor %}
</ul>
<br style="clear: both;"/>

{% endblock %}
