{% extends "base.html" %}
 
{% block title %}Registration form{% endblock %}
{% block titleInPage %}Register a new profile{% endblock %}

{% block content %}
<form method="post" action="">

{% if form.non_field_errors %}
<div class="error">
<ul>
	{{ form.non_field_errors.as_ul }}
</ul></div>
{% endif %}

<table cellpadding="5" cellspacing="0" class="form_subtable">
	<tr class="form_color_1">
		<td class="form_field_cell">Desired username
			{% if form.username.errors %}
			<div class="error">{{ form.username.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.username }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell">Email address
			<div class="form_help_text">Used to send notifications of project events (e.g.: new comment posted). Not shown publicly.</div>
			{% if form.email.errors %}
			<div class="error">{{ form.email.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.email }}</td></td>
	</tr>
	<tr class="form_color_1">
		<td class="form_field_cell">Password
			{% if form.password1.errors %}
			<div class="error">{{ form.password1.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.password1 }}</td>
	</tr>
	<tr class="form_color_2">
		<td class="form_field_cell">Password (confirm)
			{% if form.password2.errors %}
			<div class="error">{{ form.password2.errors }}</div>
			{% endif %}
		</td>
		<td class="form_field_cell" align="right">{{ form.password2 }}</td>
	</tr>
</table>

<div class="form_field_div form_color_1"><input type="submit" value="Submit" class="button_link" /></div>

</form>
 
{% endblock %}