{% extends "base.html"  %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% load util_filters %}

{% block titleInPage %} {{ page_title }} {% endblock %}

{% block moreStyle %}

.user_row {
	border-bottom: 1px dotted #555;
	padding: 10px 0 10px 0;
	margin: 10px 0 0 0;
	text-align: left;
	width: 720px;
	overflow:hidden;
	float: left;
}

.user_row_icon {
	width: 50px;
	float: left;
}

.user_row_text {
	margin-left: 10px;
	width: 650px;
	float: left;
}

.user_row_date {
	font-style: italic;
	float: left;
	width: 650px;
}

.user_row_title {
	margin-bottom: 5px;
	padding: 0;
	float: left;
	width: 650px;
	font-weight: bold;
}

.user_row_username {
	font-weight: bold;
	float: left;
	width: 650px;
}

.user_row_desc {
	padding: 0;
	margin-bottom: 10px; 
	float: left;
	width: 650px;
}

.user_row_tags {
	float: left;
	width: 650px;
}

{% endblock %}

{% block subtabs %}
<a class="subtab {% ifequal list_type 'recommend' %}active{% endifequal %}" href="{{ list_mytags_url }}">My tags</a>
<a class="subtab {% ifequal list_type 'new' %}active{% endifequal %}" href="{{ list_new_url }}">New</a>
<a class="subtab {% ifequal list_type 'top' %}active{% endifequal %}" href="{{ list_top_url }}">Top</a>
{% endblock %}



{% block content %}

	{% if filter_description %}
	<div class="content_subsubtitle">
		Also filtering for:
		<ul>
			{% autoescape off %}{{ filter_description }}{% endautoescape %}
		</ul>
	</div>
	{% endif %}

	{% for profile in profile_list_page.object_list %}

	<div class="user_row">
		<div class="user_row_icon">
			<a href="{{ profile.user.get_profile.get_absolute_url }}"><img src="{{ profile.user.get_profile.get_gravatar_url }}" width="50" height="50" /></a>
		</div>
		<div class="user_row_text">
			<div class="user_row_username">
				<a href="{{ profile.user.get_profile.get_absolute_url }}">{{ profile.user.username }}</a> ({{ profile.completed_projects_karma }})
			</div>
			<div class="user_row_date">Joined {{ profile.user.date_joined|ago }}</div>
			<div class="user_row_desc">
				{% autoescape off %}{{ profile.user.get_profile.description_html|striptags|truncatewords:30 }}{% endautoescape %}
			</div>
			<div class="user_row_tags">
			{% for t in profile.user.get_profile.get_tags %}
				<a class="tag_link" href="/accounts/people/?tags={{ t }}">{{ t }}</a>
			{% endfor %}
			</div>
		</div>
	</div>

	{% endfor %}

	{% with profile_list_page as paginator_page %}{% include "projects/pagination_snippet.html" %}{% endwith %}


{% endblock %}
