{% extends "base.html"  %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}About and contact{% endblock %}
{% block titleInPage %}About and contact{% endblock %}

{% block content %}

<p>Hi and thanks for stopping by! As said in more details in the <a href="/concepts/">Concepts page</a>, Clusterify is about bringing together coders who share common interests to work on small projects.</p>

<div class="content_subtitle">The current Clusterify.com team</div>

<p><a href="http://www.clusterify.com/accounts/people/psytek/">Sean Auriti</a> is currently the Clusterify.com administrator: he manages both the site and the open source project. Questions, comments, etc. should be directed towards him at <a href="mailto:webmaster@clusterify.com">webmaster@clusterify.com</a>.</p>
<p><a href="http://www.clusterify.com/accounts/people/fsavard/">François Savard</a> now occasionnally makes contributions to the code.</p>

<div class="content_subtitle">Quick history of the site</div>

<p>Clusterify.com is derived from an idea proposed by <a href="/accounts/profile/view/fsavard/">François Savard</a> on <a href="http://news.ycombinator.com/item?id=450810">Hacker News</a> and <a href="http://www.reddit.com/r/programming/comments/7shvy/q_is_there_a_good_site_for_complementary_skills/">Reddit</a> in January 2009. Through interaction on the Hacker News thread, François met <a href="/accounts/profile/view/aneeshk/">Aneesh Kulkarni</a>, and both set out to implement the idea.</p>

<p>François worked about three weeks fulltime on the project and Aneesh helped out at times on nights/weekends until, in February 2009, they <a href="http://news.ycombinator.com/item?id=485813">launched the project on Hacker News</a>. After receiving much feedback, further tweaks were implemented during the following weeks. Meanwhile, about a hundred users signed up.</p>

<p>A few weeks later, Aneesh left the project. Shortly after, <a href="http://www.clusterify.com/accounts/people/psytek/">Sean Auriti</a> contacted François to help with the site. After some discussion, they both agreed that responsibility for the site and project would be transfered to Sean. The transition happened around April 5, 2009, in the course of which the site changed servers and also became an open source project.</p>

<div class="content_subtitle">Site credits</div>

<p>Thanks to all who are helping us with the beta! Feedback is so precciousss.</p>

<p>As some of you will surely note, the design was inspired by <a href="http://www.stackoverflow.com">Stack Overflow</a>. The site is based on <a href="http://www.djangoproject.com">the Django framework</a> and uses a little sparkle of <a href="http://www.jquery.com">jQuery</a> for autocomplete. We also use the modules <a href="http://code.google.com/p/django-tagging/">django-tagging</a> and <a href="http://www.freewisdom.org/projects/python-markdown/">Markdown</a> heavily. The site is hosted over at <a href="http://www.webfaction.com">Webfaction</a>.</p>

{% endblock %}
