{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% load projects_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script src="/tags/js/"></script>
	<script src="/files/jquery.js"></script>
	<script src="/files/jquery.dimensions.min.js"></script>
	<script src="/files/jquery.ui.autocomplete.js"></script>
	<script src="/files/custom_autocomplete.js"></script>
	
	<link rel="shortcut icon" href="/files/images/favicon.ico">
	<link rel="stylesheet" href="/files/style.css"/>
	<link rel="stylesheet" href="/files/jquery.ui.autocomplete.css"/>
	{% block moreHead %}{% endblock %}	


	<style type="text/css">
        {% block moreStyle %}{% endblock %}

	</style>
    <title>Clusterify - {% block title %}Propose small coding projects and team up with others to realize them.{% endblock %}</title>
</head>

<body>


{% if not hide_announcement and has_announcement %}
	<div id="announcements">Features will be moving fast in the next few days/weeks. <a href="http://blog.clusterify.com/?feed=rss2">Grab the announcement feed</a> <a href="http://blog.clusterify.com/?feed=rss2"><img src="/files/images/rss14.png" style="vertical-align: middle;"/></a>. &nbsp;&nbsp;&nbsp;<a href="#" onclick="$.getScript('/hide_announcement/'); $('#announcements').fadeOut('slow'); ">(hide)</a></div>
{% endif %}

	<div id="topbar">
		
		<div id="logo"><a href="/"><img src="/files/images/logo_slant.gif"></a></div>
		<div id="loginmenu_div">
			{% if user.is_authenticated %}
				logged in as <a href="/accounts/profile/">{{ user.username }}</a> |
				<a href="/accounts/logout/">logout</a> |
				<a href="/messages/">messages</a> |
				<a href="/accounts/profile/edit/">profile</a>
			{% else %}
				<a href="/accounts/login/?next={% ifnotequal request.path '/accounts/logout/' %}{{ request.path }}{% endifnotequal %}">login</a> | 
				<a href="/openid/">login/register with OpenId <img src="/files/images/openid-16x16.gif"/></a> | 
				<a href="/accounts/register/">register</a>
			{% endif %}
               | <a href="/concepts/">help</a>
		</div>
		<div id="sitemenu_div">
            <ul id="sitemenu_ul">
                <li>
					<a class="highlight" href="/projects/add/">Add a Project</a>
				</li>
                <li>
                    <a href="/projects/proposed/" {% ifequal page_title "Proposed projects" %}class='active'{% endifequal %}>
                        proposed ({% proposed_project_count %})
                    </a>
                </li>
                <li>
                    <a href="/projects/completed/" {% ifequal page_title "Completed projects" %}class='active'{% endifequal %}>
                        completed ({% completed_project_count %})
                    </a>
                </li>
                <li>
                    <a href="/accounts/people/" {% ifequal page_title "People" %}class='active'{% endifequal %}>
                        people ({% people_count %})
                    </a>
                </li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<div id="maincontainer">
	{% block maincontainer %}{% endblock %}
	</div>
	<div id="footer">
		<a href="http://www.webfaction.com/signup?affiliate=webiest"><img src="/files/images/105x22-hosted.png" border="0" alt="Hosted by Webfaction" title="Hosted by Webfaction"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		<a href="/concepts/">Help</a> | <a href="http://blog.clusterify.com">Blog</a> |
		<a href="/about/">About and contact</a> |
		<a href="/terms/">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django."/></a>

		</div>


<!-- Start of StatCounter Code -->

<script type="text/javascript">
var sc_project=4489344; 
var sc_invisible=1; 
var sc_partition=55; 
var sc_click_stat=1; 
var sc_security="2faa4a00"; 
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div
class="statcounter"><a title="blogger counter"
class="statcounter"
href="http://www.statcounter.com/blogger/"><img
class="statcounter"
src="http://c.statcounter.com/4489344/0/2faa4a00/1/"
alt="blogger counter" /></a></div></noscript>
<!-- End of StatCounter Code -->

<!-- Start of Google Analytics code -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-174866-9");
pageTracker._trackPageview();
pageTracker._setVar("{{ user.username }}");
} catch(err) {}</script>
<!-- End of Google Analytics code -->

</body>
</html>
