{% extends "basebase.html" %}

{% block maincontainer %}
		<div id="content">
			<div style="float: right;">{% block subtabs %}{% endblock %}</div>
			<div class="titleInPage">{% block titleInPage %}{% endblock %}</div>
			<br style="clear: both;">
			{% if messages %}
			<div class="user_messages">
				<strong>Messages:</strong>
				<ul>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% block content %}{% endblock %}
		</div>
		
		<div id="sidebar">
			{% block sidebar %}{% endblock %}
			{% if user.is_authenticated %}
				<div class="sidebar_title">Reference</div>
				<div class="sidebar_block">
					- <a href="/concepts/">Basic concepts</a><br/>
					- <a href="/collaboration/">Collaboration tools and tips</a><br/>
					- <a href="/idea_guide/">Project idea guide</a><br/>
				</div>
			{% else %}
				<div class="sidebar_title">New here?</div>
				<div class="sidebar_block">Take 2 minutes to learn <a href="/concepts/">basic concepts</a>.<br/><br/>
				Clusterify: work on fun, small (few hours) projects and meet other coders.
				</div>
			{% endif %}
			<div class="sidebar_title">Search site</div>
			<div class="sidebar_block">
				<form action="/projects/search/" method="GET">
					<input type="text" name="terms" style="width: 95%" value="{{ search_terms }}"/><br/>
					<select name="search_results_type">
						<option value="projects" {% ifequal "projects" search_results_type %}selected{% endifequal %}>in projects</option>
						<option value="profiles" {% ifequal "profiles" search_results_type %}selected{% endifequal %}>in profiles</option>
						<option value="comments" {% ifequal "comments" search_results_type %}selected{% endifequal %}>in comments</option>
					</select>
				</form>
			</div>
			<div class="sidebar_title">Share this page</div>
			<div class="sidebar_block" style="text-align: center;">
				<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cpost%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cfacebook%2Cdelicious%2Cstumbleupon%2Cmixx%2Cgoogle_bmarks%2Cfriendfeed%2Clinkedin%2Cnewsvine&amp;style=rotate&amp;publisher=f5830d5a-25c2-4ede-b065-e4137a019092;offsetLeft=-200"></script>
			</div>
			<div class="sidebar_title">RSS Feeds <img src="/files/images/rss14.png" style="margin-bottom: -1px;"/></div>
			<div class="sidebar_block" style="text-align: left;">
				<a href="http://blog.clusterify.com/?feed=rss2">The Blog</a><br/>
                <hr/>
				<a href="/projects/rss/proposed/new">New Projects</a><br/>
				<a href="/projects/rss/proposed/top">Top Projects</a><br/>
				<a href="/projects/rss/completed">Completed Projects</a><br/>

				<hr/>
				<a href="/projects/rss/comments">Latest Comments</a><br/>
			</div>

{% endblock %}

