{% comment %}

The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the "License"); you may not use this file except
in compliance with the License. You may obtain a copy of the License at
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have
been added to cover use of software over a computer network and provide
for limited attribution for the Original Developer. In addition, Exhibit
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
for the specific language governing rights and limitations under the
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team",
which is described at http://www.clusterify.com/about/. All portions of
the code written by the Initial Developer are Copyright (c) the Initial
Developer. All Rights Reserved.

{% endcomment %}

{% load projects_filters %}
{% load calendar_tag %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <script src="/tags/js/"></script>
        <script src="/files/jquery.js"></script>
        <script src="/files/jquery.dimensions.min.js"></script>
        <script src="/files/jquery.ui.autocomplete.js"></script>
        <script src="/files/custom_autocomplete.js"></script>

        <link rel="shortcut icon" href="/files/images/favicon.ico">
        <link rel="stylesheet" href="/files/style.css"/>
        <link rel="stylesheet" href="/files/jquery.ui.autocomplete.css"/>
        {% block moreHead %}{% endblock %}


        <style type="text/css">
            {% block moreStyle %}{% endblock %}

        </style>
        <title>Clusterify - {% block title %}Propose small coding projects and team up with others to realize them.{% endblock %}</title>
    </head>

    <body>

        {% if not hide_announcement and has_announcement %}
        <div id="announcements">Features will be moving fast in the next few days / weeks. <a href="http://blog.clusterify.com/?feed=rss2">Grab the announcement feed</a> <a href="http://blog.clusterify.com/?feed=rss2"><img src="/files/images/rss14.png" style="vertical-align: middle;"/></a>. &nbsp;&nbsp;&nbsp;<a href="#" onclick="$.getScript('/hide_announcement/'); $('#announcements').fadeOut('slow'); ">(hide)</a></div>
        {% endif %}

	<div id="topbar">
		
		<div id="logo"><a href="/"><img src="/files/images/logo_slant.gif" width="349" height="83"></a></div>
		<div id="loginmenu_div">
			{% if user.is_authenticated %}
				logged in as <a href="/accounts/profile/">{{ user.username }}</a> |
				<a href="/accounts/logout/">logout</a> |
				<a href="/messages/">messages</a> |
				<a href="/accounts/profile/edit/">profile</a>
			{% else %}
				<a href="/accounts/login/?next={% ifnotequal request.path '/accounts/logout/' %}{{ request.path }}{% endifnotequal %}">login</a> | 
				<a href="/openid/">login/register with OpenId</a> | 
				<a href="/accounts/register/">register</a>
			{% endif %}
               | <a href="/concepts/">help</a>
		</div>
		<div id="sitemenu_div">
            <ul id="sitemenu_ul">
                <li>
                    <a href="/projects/proposed/"
                       class='{% ifequal page_title "Proposed projects" %}active{% endifequal %}
                       {% ifequal page_title "Completed projects" %}active{% endifequal %}'>
                        Projects ({% project_count %})
                    </a>
                </li>
                <li>
                    <a href="/events/upcoming/"
                       class='{% ifequal page_title "Upcoming events" %}active{% endifequal %}
                       {% ifequal page_title "Past events" %}active{% endifequal %}'>
                        Events ({% event_count %})
                    </a>
                </li>
                <li>
                    <a href="/accounts/people/"
                       class='{% ifequal page_title "People" %}active{% endifequal %}'>
                        People ({% people_count %})
                    </a>
                </li>
            </ul>
        </div>
	</div>
    
	<div class="clear"></div>
	<div id="maincontainer">
	{% block maincontainer %}{% endblock %}
	</div>
    <div id="footer">
        <a href="http://www.webfaction.com/signup?affiliate=webiest"><img src="/files/images/105x22-hosted.png" border="0" alt="Hosted by Webfaction" title="Hosted by Webfaction"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/concepts/">Help</a> | <a href="http://blog.clusterify.com">Blog</a> |
        <a href="/about/">About and contact</a> |
        <a href="/terms/">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django."/></a>
    </div>


<!-- Start of Google Analytics code -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-174866-9");
pageTracker._trackPageview();
pageTracker._setVar("{{ user.username }}");
} catch(err) {}</script>
<!-- End of Google Analytics code -->

</body>
</html>
