{% extends "base.html"  %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}Collaboration tools and tips{% endblock %}
{% block titleInPage %}Collaboration tools and tips{% endblock %}

{% block content %}

<p>As said on the Concepts page, we encourage you to propose short projects: <strong>2 hours or so</strong>. Now, 2 hours is an awfully short amount of time for software development. Is it really enough for a project done by 2-4 persons? Won't you be spending more time fussing with task division and other <strong>collaboration overhead?</strong></p>

<p>The site is young, and that's something we'll have to see. But we do propose a few <strong>tips</strong>:

<ul>
<li>Really do keep the scope small!</li>
<li>Propose ideas which <strong>lend themselves naturally to task division</strong>, with features rather independent of one another.
	<ul>
	<li>Authors: try to think ahead of how you're going to divide the task, and document it in the project description.</li>
	<li>In the end, the more people you'll have on the team, the more features in your breakdown you'll be able to implement.</li>

	</ul>
</li>
<li>Try to have a precise idea of what you're going to do before you start it, reaching that point through discussion on the project page. Use the <strong>project page comments to brainstorm</strong>.</li>
<li>DON'T PANIC! :P This is about having fun while developing with new people.</li>
</ul>

<div class="content_subtitle">Tool suggestions</div>

We don't enforce the use of this or that tool. On the contrary, we think diversity and trying new stuff is the point of this site. Yet a list might be useful.

<ul>
	<li><strong>Scheduling meetings</strong>: <a href="http://www.doodle.com">Doodle</a></li>
	<li><strong>Code repository hosting</strong> (most also offer other collaboration features)
	<ul>
		<li>Free for public/open source code
		<ul>
			<li><a href="http://code.google.com">Google Code</a></li>
			<li><a href="http://www.assembla.com">Assembla</a></li>

			<li><a href="http://www.github.com">Github</a></li>
			<li><a href="http://www.sourceforge.net">SourceForge</a></li>
		</ul></li>
		<li>Free and allows private source
		<ul>
			<li><a href="http://www.xp-dev.com">XP-Dev</a></li>
			<li><a href="http://beanstalkapp.com/">Beanstalk</a> (free for 3 users, 15 MB)</li>

		</ul></li>
	</ul></li>
	<li><strong>Chat</strong> while working on the project
	<ul>
		<li>Good ol' IRC</li>
		<li>Sites with chat log and images: <a href="http://www.signalfire.com">SignalFire</a> (free), <a href="http://www.campfirenow.com">Campfire</a>, <a href="http://www.echowaves.com">echowaves</a></li>
		<li>Also take a look at EtherPad, mentioned bellow</li>
		<li><a href="http://www.meebo.com">Meebo</a> rooms, and most IMs have group chat features</li>
	</ul></li>
	<li><strong>Sharing code snippets</strong> (for chat sessions): <a href="http://pastie.org/">Pastie</a></li>
	<li><strong>Documenting</strong> (sharing code, links, tips, etc. with the team):
	<ul>
		<li><a href="http://www.wikidot.com">Wikidot</a>: has source code syntax coloring features</li>
		<li><a href="http://www.etherpad.com">EtherPad</a>: one text page, could not be simpler to setup, allows you to work in real time and see changes made by others instantly</li>
		<li>Also note that Google Code and systems like Trac integrate a Wiki</li>
	</ul></li>
	<li><strong>Design/application mockups</strong>: <a href="http://iplotz.com/">iPlotz</a>, <a href="http://www.balsamiq.com/">Balsamiq</a></li>
	<li><strong>Sharing screenshots and screencaps</strong>: <a href="http://www.jingproject.com/">Jing</a></li>
	<li><strong>Blogs</strong> (for project showcase): <a href="http://www.wordpress.com">Wordpress</a>, <a href="http://www.blogger.com">Blogger</a>, <a href="http://www.livejournal.com">LiveJournal</a>, and <a href="http://mashable.com/2007/08/06/free-blog-hosts/">so many others</a></li>
	<li><strong>Coding</strong>: ah, well, now that's up to you :P</li>
</ul>

<div class="content_subsubtitle">Thanks to <a href="http://www.clusterify.com/accounts/profile/view/psytek/">psytek</a> for suggesting many of these tools (SignalFire, EtherPad, iPlotz, Jing)</div>

{% endblock %}
