{% extends "base.html"  %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}Concepts{% endblock %}
{% block titleInPage %}Concepts underlying the site{% endblock %}

{% block content %}

<p>Clusterify is a better way to <strong>meet other programmers working with the same technologies you are</strong>. Open source projects are great, but they usually require large investments of time. The idea here is to <strong>keep it short</strong>, just a couple hours per project. If you have a cool idea for a short project, and want to work on it with a couple other programmers, <a href="/accounts/register/">sign up here</a> to get started!</p>

<p>The site is also about <strong>learning and experimenting, sharing tips</strong> along the way with others. And if you <strong>just want to share some ideas</strong> but don't have time to work on them, you can do this too: just select <strong>"I'm not participating"</strong> in the "new project" form. Others can then come and administer the project.</p>

<p>It's up to you to decide what collaboration tools you're going to use, what language, what framework, what repository... </p>

<div class="content_subtitle">The stages of projects</div>

<ol>
<li>First, you (the project <strong>author</strong>) propose an <strong>idea</strong> (or proposal), and <strong>tag</strong> it with relevant categories.</li>
<li>Afterwards, people can see it on the proposals page, which can be filtered by tags or votes, and accessed through <strong>RSS feeds</strong>.</li>
<li>When a project looks exciting, you just click <strong>join</strong>. If you've got questions or suggestion, you can post <strong>comments</strong> on the project page.</li>
<li>Through this discussion, you all <strong>agree on a date and time</strong> to work on it, and decide what tools you'll use. When you're done, the author sets the <strong>project as completed</strong>. You can show off your work to everyone by posting links to your completed project and blog posts in the <strong>project showcase</strong>.</li>
</ol>

<div class="content_subtitle">Voting</div>

<p>You can vote up ideas you think are exciting. Separately, you can reward a good completed project by voting for it.</p>

<div class="content_subtitle">Profiles</div>

<p>We encourage you to post a profile with links to your online profiles and contact information: <strong>IM number, email, blog/website, Twitter,</strong> etc. It can also be a way to keep in touch with each other after the project.</p>

<div class="content_subtitle"><a name="karma"></a>Karma</div>

<p>Your karma increases as you complete projects and goes up with the quality of the completed projects.</p>

<div class="content_subtitle">Project showcase</div>
<p>We know a lot of you have blogs, or know how to set one up in a matter of seconds. You can <strong>document the project on your own site</strong>, and provide <strong>links to these in the Project Showcase section</strong> to show off your work.</p>

<p>So go forth and speaketh of your projects in the wide world! This makes for a great "experience log" to share tips you learned in the process.</p>

<p>You can also link back to the project page to have visitors upvote your implementation.</p>

<div class="content_subtitle">The name "Clusterify"</div>

Take a look at this Wikipedia entry on <a href="http://en.wikipedia.org/wiki/Data_clustering">Data clustering</a>. We hope the projects build "clusters" of coders who work well with each other.

{% endblock %}
