{% extends "base.html"  %}

{% block title %}Concepts{% endblock %}
{% block titleInPage %}Concepts underlying the site{% endblock %}

{% block content %}

<p>Clusterify is a better way to <b>meet other programmers working with the same technologies you are</b>. Open source projects are great, but they usually require large investments of time. The idea here is to <b>keep it short</b>, just a couple hours per project. If you have a cool idea for a short project, and want to work on it with a couple other programmers, sign up here to get started!</p>

<p>The site is about learning and experimenting, sharing tips along the way with others.</p>

<p>It's up to you to decide what collaboration tools you're going to use, what language, what framework, what repository... </p>

<div class="content_subtitle">The stages of projects</div>

<ol>
<li>First, you (the project author) propose an idea (or proposal), and tag it with relevant categories.</li>
<li>Afterwards, people can see it on the proposals page, which can be filtered by tags or votes, and accessed through RSS feeds.</li>
<li>When a project looks exciting, you just click join. If you've got questions or suggestion, you can post comments on the project page.</li>
<li>You all set up a date and time to work on it, and decide what tools you'll use. When you're done, the author sets the project as completed. You can show off your work to everyone by posting links to your completed project and blog posts in the project showcase.</li>
</ol>

<div class="content_subtitle">Voting</div>
You can vote up ideas you think are exciting. Separately, you can reward a good completed project by voting for it. 

<div class="content_subtitle">Profiles</div>

We encourage you to post a profile with links to your online profiles and contact information: IM number, email, blog/website, Twitter, etc. It can also be a way to keep in touch with each other after the project. 

<div class="content_subtitle">Project showcase</div>
<p>We know a lot of you have blogs, or know how to set one up in a matter of seconds. You can document the project on your own site, and provide links to these in the Project Showcase section to show off your work.</p>

<p>So go forth and speaketh of your projects in the wide world! This makes for a great "experience log" to share tips you learned in the process.</p>

Yo<p>u can also link back to the project page to have visitors upvote your implementation.</p>

<div class="content_subtitle">The name "Clusterify"</div>

Take a look at this Wikipedia entry on <a href="http://en.wikipedia.org/wiki/Data_clustering">Data clustering</a>. We hope the projects build "clusters" of hackers who work well with each other.

{% endblock %}
