{% extends "basebase.html" %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block moreStyle %}

#homepageContent {
	text-align: left;
	border: 1px solid black;
	margin: 0; padding: 0;
	background-color: #fff;
}

#homepageTable {
	padding-right: 15px;
}

#homepageTable td {
	padding: 15px 0 15px 15px;
}

.big_intro_text {
	font-size: xx-large;
}

.further_points {
	margin-top: 15px;
	background-color: #ddd;
	padding: 15px;
	font-size: x-large;
}

.further_points ul li {
	margin-top: 10px;
}

.user_interests_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user_interests_ul a {
	display: block;
	background-color: #449944;
	color: #fff;
	padding: 10px;
	font-size: large;
	font-weight: bold;
}

.user_interests_ul a:hover {
	background-color: #4a4;
	color: #fff;
}

.user_interests_ul li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #005500;
}

.user_interests_ul li ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user_interests_ul li ul li {
	font-size: normal;
	padding: 10px;
	background-color: #c2f3a8;
}

#big_buttons {
	margin-top: 15px;
}

#big_join_button {
	display: block;
	color: #fff;
	background-color: #449944;
	font-size: xx-large;
	padding: 15px;
	margin-right: 15px;
	float: left;
	width: 237px;
	border-top: 2px solid #88cc88;
	border-left: 2px solid #88cc88;
	text-align: center;
}
a#big_join_button:hover {
	background-color: #4a4;
}

#big_projects_button {
	display: block;
	color: #fff;
	background-color: #039;
	font-size: xx-large;
	padding: 15px;
	width: 237px;
	float: left;
	border-top: 2px solid #47c;
	border-left: 2px solid #47c;
	text-align: center;
}
a#big_projects_button:hover {
	background-color: #03b;
}

{% endblock %}

{% block moreHead %}

<script language="javascript">
<!--

$(function(){

	$(".user_interests_ul a").click(function(){
		$(this).parent().find("li").toggle();
		return false;
	});

	$("#interest_li3, #interest_li4, #interest_li5").hide();

});

//-->
</script>

{% endblock %}

{% block maincontainer %}

<div id="homepageContent">

	<table id="homepageTable">
		<tr>
			<td width="560">
				<div class="big_intro_text">
					<span style="font-weight: bold; color: #449944;">Clusterify</span>
					lets you propose 
					<span style="font-weight: bold; color: #003399;">small coding projects</span>
					and
					<span style="font-weight: bold; color: #aa0000;">team up</span>
					with others to realize them.
				</div>
				<div id="big_buttons">
					<a href="/accounts/register/" id="big_join_button">Join</a>
					<a href="/projects/" id="big_projects_button">Projects &gt;&gt;</a>
					<div style="clear: both; height: 1px;"></div>
				</div>
				<div class="further_points">
					<ul>
						<li>
							Do the project <strong>live over chat</strong>, each in <strong>your own time</strong> or even <strong>meet in person</strong>.
						</li>
						<li>
							<strong>Vote</strong> for ideas & completed projects you like. <strong>Showcase your work</strong> on your blog or elsewhere online.
						</li>
						<li>
							Use the <strong>tools you want</strong>, administer the project <strong>the way you want</strong>
						</li>
					</ul>
				</div>
			</td>
			<td width="350">
				<div style="background-color: #ddd; padding: 15px; text-align: center;"><script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cpost%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cfacebook%2Cdelicious%2Cstumbleupon%2Cmixx%2Cgoogle_bmarks%2Cfriendfeed%2Clinkedin%2Cnewsvine&amp;style=rotate&amp;publisher=f5830d5a-25c2-4ede-b065-e4137a019092;offsetLeft=-200"></script></div>
				<div style="margin-top: 10px; font-size: x-large; margin-bottom: 10px; text-align: center;">Clusterify is great for:</div>
				<ul class="user_interests_ul">
					<li>
						<a href="#">&rArr; Programming events</a>
						<ul><li id="interest_li1">Planning a <strong>2-3 hours "code anything" session</strong>? Have attendees <strong>exchange ideas & team up</strong> in advance to maximize coding time on-site.</li></ul>
					</li>
					<li>
						<a href="#">&rArr; Freelancers, startup founders</a>
						<ul><li id="interest_li2">Add variety to your <strong>portfolio</strong> and find <strong>potential work partners</strong>. Find out if you work well with them by <strong>working on a real (yet short) project</strong>.</li></ul>
					</li>
					<li>
						<a href="#">&rArr; Open source projects</a>
						<ul><li id="interest_li3">Propose short tasks to be done on the project to get people interested and involved.</li></ul>
					</li>
					<li>
						<a href="#">&rArr; Hobby coding projects</a>
						<ul><li id="interest_li4">Find other coders who feel the same need or like your idea.</li></ul>
					</li>
					<li>
						<a href="#">&rArr; Learning new languages</a>
						<ul><li id="interest_li5">A Clusterify project is a great context to share tips and learn along with others.</li></ul>
					</li>
				</ul>
			</td>
		</tr>
	</table>

</div>

{% endblock %}
