{% extends "base.html"  %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}Project idea guide{% endblock %}
{% block titleInPage %}Project idea guide{% endblock %}

{% block content %}

The projects can be of very varied nature. First rule: don't fear redundancy! You shouldn't strive for a software revolution in 2 hours. And here are a few more tips

<div class="content_subtitle">Project types</div>

<div class="content_subsubtitle"><strong>Develop a new app</strong></div>

<p>This is what most projects will probably look like. "Develop a player > 2 pong game", "Develop a usb-stick portable TODO application in pure JavaScript? with jQuery".</p>

<div class="content_subsubtitle"><strong>Code understanding/reverse engineering projects</strong></div>

<p>On this type of project, you set yourself the goal to <strong>answer questions about the inner workings of some software</strong>, if it has poor documentation for the angle you're interested in. This can be to satisfy your own curiosity, to support some hackish functionality you want to add, etc. The <strong>"deliverable" here could be the very documentation</strong> you produce along the way (which you can post to your blog, for example). This could also be useful to others who'd then want to themselves pursue further (see also "adding feature to open source program" bellow).</p>

<p>This can of course be done in teams: each tackles a specific dimension of the program, and post their findings as they go along on a wiki page, for example.</p>

<div class="content_subsubtitle"><strong>Adding a feature/plugin to an open source program</strong></div>

<p>We all have a list of features we'd like to see come to reality in our favorite software. This can be a good opportunity to finally implement some of them!</p>

<p>Clusterify can also offer the opportunity, for open source software authors, to interest people in their project: post a clearly defined piece of job to be done, and help people who join in realizing the task.</p>

<div class="content_subtitle">Just-add-water project ideas</div>

<p>If you're out of ideas, you can always join projects created by others, you know :P Yet, if you want some "random seed" to get the idea-generation process started, you can take a look at problem solving sites. <a href="http://stackoverflow.com/questions/24692/where-can-you-find-funeducational-programming-challenges">Here's a great list</a>.

{% endblock %}
