{% extends "base.html" %}

{% comment %}

“The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the “License”); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an “AS IS” basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}

{% block title %}OpenID login{% endblock %}
{% block titleInPage %}OpenID login{% endblock %}

{% block moreHead %}
<script type="text/javascript" src="/files/open-selector.js"></script>
{% endblock %}	

{% block content %}
<p>For the moment <strong>only OpenID version 1 is supported</strong>. This rules out logging in with Google or Yahoo, sorry.</p>

<script type="text/javascript">
$(function(){
   // ID for the OpenID form 
    open_selector.openid_form_id= 'openid_form';
    // ID for the OpenID URL box
    open_selector.openid_box_id= 'id_openid_url';
    open_selector.init();
});
</script>

<form action="{{ action }}" method="post" id="openid_form">
<p><input class="openid" type="text" name="openid_url" id="id_openid_url"> <input type="submit" value="Sign in"></p>
</form>

{% endblock %}
