{% extends "base.html" %}
 
{% block title %}OpenID login{% endblock %}
{% block titleInPage %}OpenID login{% endblock %}

{% block moreHead %}
<script type="text/javascript" src="{{ site_url }}/files/open-selector.js"></script>
{% endblock %}	

{% block content %}
<p>For the moment <strong>only OpenID version 1 is supported</strong>. This rules out logging in with Google or Yahoo, sorry.</p>

<script type="text/javascript">
$(function(){
   // ID for the OpenID form 
    open_selector.openid_form_id= 'openid_form';
    // ID for the OpenID URL box
    open_selector.openid_box_id= 'id_openid_url';
    open_selector.init();
});
</script>

<form action="{{ action }}" method="post" id="openid_form">
<p><input class="openid" type="text" name="openid_url" id="id_openid_url"> <input type="submit" value="Sign in"></p>
</form>

{% endblock %}
