/*
The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the "License"); you may not use this file except
in compliance with the License. You may obtain a copy of the License at
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have
been added to cover use of software over a computer network and provide
for limited attribution for the Original Developer. In addition, Exhibit
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
for the specific language governing rights and limitations under the
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team",
which is described at http://www.clusterify.com/about/. All portions of
the code written by the Initial Developer are Copyright (c) the Initial
Developer. All Rights Reserved.
*/

#announcements {
    background-color:#00AC00;
    color:#FFF;
    margin:10px auto;
    padding:10px 0;
    text-align:center;
    width:960px;
}

#announcements a {
    color:#FFF;
    font-weight:700;
}

#content {
    background-color:#fff;
    border:1px solid #000;
    clear:both;
    float:left;
    margin-bottom:10px;
    padding:13px;
    text-align:left;
    width:720px;
}

#footer {
    background-color:#ccc;
    border:1px solid #888;
    clear:both;
    margin:15px auto;
    padding:10px;
    width:940px;
}

#footer img {
    vertical-align:middle;
}

#loginmenu_div {
    color:#FFF;
    float:right;
    margin:0;
    padding:8px 0 0;
    text-align:right;
    width:550px;
}

#loginmenu_div a {
    color:#039;
}

#loginmenu_div a:hover {
    color:#06c;
}

#logo {
    background-color:#fff;
    color:#fff;
    float:left;
    font-size:x-large;
    margin:0 0 10px;
    z-index:3;
}

#maincontainer {
    clear:both;
    margin:0 auto;
    width:960px;
}

#maincontainer .tabbed {
    border-top:0;
}

#navigation {
    list-style:none;
    margin:0 0 0 1px;
    padding:0;
}

#navigation .active {
    background:#fff;
    border-bottom:1px solid #fff;
    font-weight:400;
}

#navigation a {
    background:#eee;
    border-bottom:1px solid;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    color:#111;
    margin-left:-1px;
    padding:5px 5px 5px 10px;
    text-decoration:none;
}

#navigation a,#navigation a span {
    display:block;
    float:none;
}

#navigation li {
    display:block;
    float:left;
    margin:0;
    padding:0;
}

#sidebar {
    border:1px solid #555;
    float:right;
    margin:0 0 10px;
    padding:0;
    text-align:center;
    width:200px;
}

#sitemenu_div {
    float:right;
    margin-right:-10px;
    margin-top:24px;
}

#sitemenu_ul .active {
    background-color:#EDEBDF;
    border-bottom:1px solid #EDEBDF;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    color:#444;
}

#sitemenu_ul li a {
    background:#eee;
    border-bottom:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    color:#444;
    float:left;
    margin:0;
    padding:5px 7px;
    text-decoration:none;
}

#sitemenu_ul li a:hover,#navigation a:hover {
    background:#aaa;
    border-bottom:1px solid #aaa;
    color:#fff;
}

#tabcontainer {
    border-bottom:1px solid;
    height:25px;
    width:748px;
}

#topbar {
    background-color:#bbb;
    border:1px solid #000;
    height:83px;
    margin:10px auto;
    padding:0 10px 0 0;
    text-align:left;
    width:950px;
}

.active {
    background-color:#ccc;
    color:#333;
}

.badge_group_container {
    clear:both;
    float:left;
    padding:3px;
}

.button_link {
    background-color:#666;
    border-left:1px solid #999;
    border-top:1px solid #999;
    color:#fff;
    display:block;
    margin:5px auto;
    padding:10px;
    width:200px;
}

.button_link:hover {
    background-color:#888;
    color:#fff;
}

.clear {
    clear:both;
}

.comment_count {
    background-color:#ddd;
    border:1px solid #000;
    float:left;
    margin-top:10px;
    padding:5px;
    text-align:center;
    width:100px;
}

.content_subsubtitle {
    background-color:#ddd;
    clear:both;
    margin-bottom:10px;
    padding:8px;
}

.content_subtitle {
    background-color:#eee;
    clear:both;
    font-size:large;
    margin:20px 0 10px;
    padding:8px;
}

.count_widget_container {
    display:block;
    float:left;
    margin-right:10px;
    padding:0;
    width:50px;
}

.disabled_badge_container {
    background-color:#999;
    border:1px solid #000;
    color:#ccc;
    float:left;
    font-size:small;
    margin-right:0;
    overflow:hidden;
    padding:5px;
    text-align:center;
    width:40px;
}

.error {
    color:red;
    font-weight:700;
}

.estimate {
    color:#aaa;
    padding-top:8px;
}

.form_color_1 {
    background-color:#ddd;
}

.form_color_2 {
    background-color:#fff;
}

.form_div {
    padding:10px;
    text-align:center;
}

.form_errors {
    color:red;
}

.form_field_cell {
    font-weight:700;
    padding:10px;
    vertical-align:top;
}

.form_field_div {
    margin:10px 0;
    padding:10px;
}

.form_help_text {
    font-size:small;
    font-weight:400;
}

.form_subtable {
    vertical-align:top;
    width:100%;
}

.form_table {
    border:1px dotted #555;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    vertical-align:top;
}

.green_text {
    color:#00AC00;
}

.highlight {
    background-color:#0386BD;
    border:1px solid #000;
    color:#fff;
    float:left;
    font-size:large;
    margin:0;
    padding:2px 10px;
    text-decoration:none;
}

.highlight:hover {
    background-color:#04ADEF;
    color:#fff;
}

.highlightgreen {
    background-color:#00AC00;
    border:1px solid #000;
    color:#fff;
    float:left;
    font-size:large;
    margin:0;
    padding:2px 10px;
    text-decoration:none;
}

.highlightgreen:hover {
    background-color:#00D600;
    color:#fff;
}

.idea_vote_widget_button {
    background-color:#00AC00;
    border:1px solid #000;
    color:#fff;
    display:block;
    float:left;
    margin-bottom:3px;
    overflow:hidden;
    padding:5px;
    text-align:center;
    width:40px;
}

.idea_vote_widget_button:hover {
    background-color:#6b6;
    color:#ddd;
}

.idea_votes_container {
    background-color:#00AC00;
    border:1px solid #444;
    color:#fff;
    float:left;
    font-size:small;
    margin:0;
    overflow:hidden;
    padding:5px;
    text-align:center;
    width:40px;
		cursor: pointer;
}

.invisible_vote_widget_button {
    color:#fff;
    display:block;
    float:left;
    margin-bottom:5px;
    overflow:hidden;
    padding:5px;
    width:40px;
}

.job_vote_widget_button {
    background-color:#0386BD;
    border:1px solid #000;
    color:#fff;
    display:block;
    float:left;
    font-weight:700;
    margin-bottom:3px;
    overflow:hidden;
    padding:5px;
    text-align:center;
    width:40px;
}

.job_vote_widget_button:hover {
    background-color:#F7C500;
    color:#ddd;
}

.job_votes_container {
    background-color:#0386BD;
    border:1px solid #000;
    color:#fff;
    float:left;
    font-size:small;
    margin:0;
    overflow:hidden;
    padding:5px;
    text-align:center;
    width:40px;
}

.join_button {
    background-color:#C10000;
    border:1px solid #000;
    color:#fff;
    display:block;
    font-weight:700;
    margin:10px;
    padding:8px 10px;
    text-align:center;
    text-decoration:none;
}

.join_button:hover {
    background-color:#F20000;
    color:#fff;
}

.joins_count {
    font-size:large;
    font-weight:700;
}

.joins_count_container {
    background-color:#C10000;
    border:1px solid #444;
    color:#fff;
    float:left;
    font-size:small;
    margin:0;
    overflow:hidden;
    padding:5px;
    text-align:center;
    width:40px;
}

.markdown_textarea {
    width:95%;
}

.pagination {
    clear:both;
    margin:15px;
    text-align:center;
}

.pagination a,.pagination .current {
    background-color:#ddd;
    border:1px solid #555;
    clear:both;
    font-weight:700;
    margin-left:5px;
    margin-top:15px;
    padding:8px;
}

.project img {
    margin-top:-25px;
}

.project_author {
    float:right;
}

.project_comment {
    border-bottom:1px dotted #555;
    clear:both;
    float:left;
    padding:10px;
    width:700px;
}

.project_comment_author_and_date {
    float:right;
    overflow:hidden;
    text-align:right;
    width:200px;
}

.project_comment_author_icon {
    float:right;
    margin-left:10px;
    width:40px;
}

.project_row {
    border-bottom:1px dotted #555;
    clear:both;
    float:left;
    margin:0;
    overflow:hidden;
    padding:10px 0;
    text-align:left;
    width:100%;
}

.project_row_badges {
    float:left;
    margin:0;
    padding:0;
    width:125px;
}

.project_row_desc {
    float:left;
    margin-bottom:10px;
    padding:0;
    width:580px;
}

.project_row_tags {
    float:left;
    width:320px;
}

.project_row_text {
    float:left;
    width:580px;
}

.project_row_title {
    float:left;
    font-weight:700;
    margin-bottom:5px;
    padding:0;
    width:580px;
}

.project_row_title a {
    font-size:14px;
}

.project_row_title_on_project {
    float:left;
    font-weight:700;
    margin-bottom:5px;
    padding:0;
    width:300px;
}

.red_text {
    color:#C10000;
}

.rssicon {
    display:block;
    float:right;
    margin-left:10px;
}

.sidebar_block {
    background-color:#eee;
    padding:10px;
    text-align:left;
    width:180px;
}

.sidebar_block_image {
    margin-bottom:7px;
    text-align:center;
}

.sidebar_block_image img {
    background-color:#fff;
    border:1px solid #000;
}

.sidebar_button_a {
    background-color:#666;
    border:1px solid #fff;
    color:#FFF;
    display:block;
    font-weight:700;
    margin:10px;
    padding:8px 10px;
    text-decoration:none;
}

.sidebar_button_a:hover {
    background-color:#888;
    color:#FFF;
}

.sidebar_info {
    background-color:#888;
    border:1px solid #fff;
    color:#fff;
    display:block;
    font-weight:700;
    margin:10px;
    padding:8px 10px;
    text-decoration:none;
}

.sidebar_info:hover {
    background-color:#999;
    color:#FFF;
}

.sidebar_title {
    background-color:#555;
    clear:both;
    color:#FFF;
    font-weight:700;
    padding:5px;
    text-align:left;
}

.sidebar_ul_subinfo {
    font-size:small;
    margin-left:10px;
    text-indent:14px;
}

.subtab {
    background-color:#eee;
    border:1px solid #555;
    display:block;
    float:right;
    font-weight:700;
    margin-left:10px;
    padding:6px;
}

.subtab:hover {
    background-color:#bbb;
}

.titleInPage {
    float:left;
    font-size:x-large;
    margin-bottom:5px;
}

.user_icon_div {
    float:right;
    margin-left:5px;
    width:50px;
}

.user_icon_div img {
    border:1px solid #000;
}

.user_info_div {
    float:right;
    text-align:right;
    width:220px;
}

.user_messages {
    background-color:#04ADEF;
    clear:both;
    padding:10px;
    margin-bottom: 15px;
}

.votes_count {
    font-size:large;
    font-weight:700;
    margin:0;
}

a {
    color:#05a;
    text-decoration:none;
}

a.tag_link {
    background-color:#eee;
    border:1px solid #999;
    color:#444;
    display:block;
    float:left;
    margin:2px 2px 5px;
    padding:2px 4px;
    text-decoration:none;
}

a.tag_link:hover {
    background-color:#07c;
    color:#FFF;
}

a:hover {
    color:#027;
}

body {
    background-color:#EDEBDF;
    color:#444;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0;
    padding:0;
    text-align:center;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

textarea,input {
    border:1px solid #555;
}

ul#sitemenu_ul {
    float:right;
    padding:0;
}

ul#sitemenu_ul li {
    border:0;
    float:left;
    list-style-type:none;
    margin-right:-1px;
}

ul.sidebar_horiz_ul li {
    display:inline;
    list-style-type:none;
    margin:.5em 0 0;
}

ul.sidebar_ul li {
    list-style-type:none;
}

ul.sidebar_ul,ul.sidebar_ul_spaced,ul.sidebar_horiz_ul {
    margin:0;
    padding:0;
}

ul.sidebar_ul_spaced li {
    list-style-type:none;
    margin:10px 0;
}
