{% extends "base.html"  %}

{% comment %}

"The contents of this file are subject to the Common Public Attribution
License Version 1.0 (the "License"); you may not use this file except 
in compliance with the License. You may obtain a copy of the License at 
http://www.clusterify.com/files/CODE_LICENSE.txt. The License is based 
on the Mozilla Public License Version 1.1 but Sections 14 and 15 have 
been added to cover use of software over a computer network and provide 
for limited attribution for the Original Developer. In addition, Exhibit 
A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis, 
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License 
for the specific language governing rights and limitations under the 
License.

The Original Code is Clusterify.

The Initial Developer of the Original Code is "the Clusterify.com team", 
which is described at http://www.clusterify.com/about/. All portions of 
the code written by the Initial Developer are Copyright (c) the Initial 
Developer. All Rights Reserved.

{% endcomment %}
{% load calendar_tag %}
{% block title %}{{ page_title }}{% endblock %}
{% block titleInPage %}
    <a class="highlight" href="/events/add/">Add an Event</a>
{% endblock %}


{% block moreHead %}
	{% if rss_url %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_url }}"/>
	{% endif %}
{% endblock %}
{% block content_style %}tabbed{% endblock %}
{% block tabs %}
<div id="tabcontainer">
    <ul id="navigation">
        <li>
            <a href="/events/upcoming/"
               class='{% ifequal page_title "Upcoming events" %}active{% endifequal %}'>
                <span>Upcoming events ({% upcoming_event_count %})</span>
            </a>
        </li>
        <li>
            <a href="/events/past/"
               class='{% ifequal page_title "Past events" %}active{% endifequal %}'>
                <span>Past events ({% past_event_count %})</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}

{% block content %}
	{% if filter_description %}
	<div class="content_subsubtitle">
		Also filtering for:
		<ul>
			{% autoescape off %}{{ filter_description }}{% endautoescape %}
		</ul>
	</div>
	{% endif %}

	{% if rss_url %}
	<div class="content_subsubtitle">
		&nbsp;<a href="{{ rss_url }}"><img src="/files/images/rss28.png" style="vertical-align: middle;"/></a>&nbsp;&nbsp;&nbsp;Get as an <a href="{{ rss_url }}">RSS feed</a>.
	</div>
	{% endif %}
    <hr style="border-style: none none dotted; margin-bottom:0px;">

	{% for event in event_list_page.object_list %}

		{% include "event_snippet.html" %}
	
	{% endfor %}
	
	{% with event_list_page as paginator_page %}{% include "pagination_snippet.html" %}{% endwith %}

{% endblock %}
